# Ignore logs and OS files
*.log
.DS_Store

# Ignore IDE configs
.idea/
.vscode/
*.iml

# Ignore backend build
/backend/target/
backend/.mvn/
backend/mvnw
backend/mvnw.cmd

# Ignore frontend build
/frontend/dist/
frontend/node_modules/
